/* Reseteo de márgenes y paddings global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que padding y bordes no afecten las dimensiones */
}

/* Estilo General para el body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* Header */
.header {
    background-color: #60A5FA;
    color: white;
    padding: 20px;
    text-align: center;
    flex-shrink: 0; /* Asegura que no colapse al ser flexbox */
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Asegura un círculo perfecto */
    border: 2px solid #000000;
    object-fit: cover; /* Ajusta el contenido de la imagen */
    background-color: white; /* Fondo blanco por defecto */
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}




/* Estilo del menú desplegable */






/* Main */
.main {
    flex: 1; /* Ocupa todo el espacio restante entre header y footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    text-align: center;
}

/* Footer */
.footer {
    background-color: #60A5FA;
    color: white;
    text-align: center;
    padding: 15px;
    flex-shrink: 0; /* Evita que el footer colapse */
}